html, body {
    width: 100%;
    height: 100%;
}


#myModal .modal-content{
    background: none;
    border: none;
}
#myModal .modal-header{
    border-bottom:none;
}
#myModal .close{
    color: #fff;
    font-size: 4.5rem;
    font-weight: lighter;
    margin: 10px;
}
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.border-left{
    border-left: 1px solid #ccc;
}

.btn-facebook {
    font-family: 'Arial' !important;
    font-weight:100 !important;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff
}

div.titulo {
  height: 1px;
  background-color: #ccc;
  text-align: center;
}
div.titulo span {
  background-color: white;
  position: relative;
  top: -0.5em;
  padding: 0 10px;
}

.box-preco{
    color: #fff;
    border-radius: 3px;
    background: -moz-linear-gradient(261deg, rgba(114,100,82,1) 0%, rgba(122,109,92,1) 6%, rgba(236,234,232,1) 87%, rgba(253,253,253,1) 99%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(114,100,82,1)), color-stop(6%, rgba(122,109,92,1)), color-stop(87%, rgba(236,234,232,1)), color-stop(99%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(261deg, rgba(114,100,82,1) 0%, rgba(122,109,92,1) 6%, rgba(236,234,232,1) 87%, rgba(253,253,253,1) 99%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(261deg, rgba(114,100,82,1) 0%, rgba(122,109,92,1) 6%, rgba(236,234,232,1) 87%, rgba(253,253,253,1) 99%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(261deg, rgba(114,100,82,1) 0%, rgba(122,109,92,1) 6%, rgba(236,234,232,1) 87%, rgba(253,253,253,1) 99%, rgba(255,255,255,1) 100%); /* ie10+ */
background: linear-gradient(189deg, rgba(114,100,82,1) 0%, rgba(122,109,92,1) 6%, rgba(236,234,232,1) 87%, rgba(253,253,253,1) 99%, rgba(255,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#726452', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
}


.YTPOverlay {
    background: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0) 17%, rgba(255,255,255,0.35) 28%, rgba(255,255,255,0.97) 47%, rgba(255,255,255,1) 48%);
    background: -webkit-radial-gradient(top, ellipse cover, rgba(255,255,255,0) 17%,rgba(255,255,255,0.35) 28%,rgba(255,255,255,0.97) 47%,rgba(255,255,255,1) 48%);
    background: radial-gradient(ellipse at top, rgba(255,255,255,0) 30%,rgba(255,255,255,0.25) 36%,rgba(255,255,255,0.9) 51%,rgba(255,255,255,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

#banner {
    height: 70vh;
    background: url("../img/bg_lidianebarbosa.png") no-repeat;
    background-position: top center;
    background-size: contain;
}
.title-top{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.mtop{
    margin-top: 50vh;
}

.font-times {
    font-family: "Times New Roman", sans-serif;
    font-weight: 500;
}

.font-raleway-300 {
    font-family: "Raleway", sans-serif;
    font-weight: 300 !important;
}

.font-raleway-500 {
    font-family: "Raleway", sans-serif;
    font-weight: 500 !important;
}

.color-brown {
    color: #726452 !important;
}

 .link-nav {
    color: #726452 !important;
    font-size: 18px;
}

.btn-outline-secondary {
    color: #726452;
    background-color: transparent;
    background-image: none;
    border-color: #726452;
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #aeb4c9;
    border-color: #aeb4c9;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 2;
    border-radius: .3rem;
}

.btn {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
}

.titulo-banner h1 {
    font-size: 66px;
    font-weight: 700;
}

.box-venda img {
    margin: 20px 0;
}

.box-venda h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.box-venda {
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.box-venda .preco-curso {
    margin: 40px 0;
}

.box-venda .preco-curso .maior {
    margin: 0 0 20px 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 0.8;
}

.box-venda .preco-curso .menor {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.margintop-20 {
    margin-top: 20px !important;
}

.border-rigth-roxa {
    border-right: 1px solid #aeb4c9;
}

.bg-branco {
    padding: 50px 0;
    background: #ffffff;
}

.bg-box {
    padding: 50px 0;
    background: #ffffff;
}
.m-left{
   margin-left: 6rem !important;
}


.bg-box p{
    font-size: 10px: 
}
.text-desc{
    margin-top: 40px;
}


.bg-image {
    padding: 50px 0;
    background: url("../img/bg-section-2.png") no-repeat;
}
.bg-section-down {
    padding: 50px 0;
    background: url("../img/bg-section-3.jpg") no-repeat;
}

.bg-section-depoiment{
    padding: 50px 0;
    background: url("../img/bg-section-4.png") no-repeat;
}

.btn-green{
    background: #67a950;
    border-radius: 0;
    color: #fff;
}

.box-sobre {
    background: url("../img/bg-section-1.png") no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15px;
}

.no-padding {
    padding: 0 !important;
}

.font-extra-bold {
    font-weight: 700;
}

.text-small{
    font-size: 14px;
}

.col-center{
    margin: 0 auto;
}


.color-gray{
    color: #c2bdb8;
}

.border-gray-top{
    border-top: 1px solid #c2bdb8;
}

.border-gray-right{
    border-right: 1px solid #c2bdb8;
}

ul.menu-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


ul.menu-footer  li {
    float: left;
}

ul.menu-footer li a {
    display: block;
    color: #c2bdb8;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

ul.menu-footer  li a:hover {
    color: #111111;
}







/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .border-gray-right{
        border: none;
    }
    .border-rigth-roxa{
        border: none;
    }
    h5 {
    font-size: 16px;
    }
    .mtop {
    margin-top: 20vh;
}
.titulo-banner h1 {
    font-size: 45px;
    }
    #banner {
        height: 75vh;
        background-size: cover;
       
    }
    .button-nav{
            width: 50%;
        float: right;
    }
    .title-logo{
        width: 50%;
        float: left;
    }
    .img-logo{
        display: none;
    }
    .text-desc{
        margin-top: 0px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #banner {
        height: 75vh;
        background-size: cover;
       
    }
    p{
        font-size:12px;
    }
    h5 {
    font-size: 15px;
    }
    h2 {
    font-size: 19px;
    }
    .text-small {
        font-size: 10px;
    }
    h3{
        font-size: 17px;
    }

    .box-venda h1{
        font-size: 20px;
    }
     h1{
        font-size: 20px;
    }
    .mtop {
    margin-top: 35vh;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
      #banner {
            background-size: contain;
      }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #banner {
       
            background-size:70%; ;
    }

    .mtop {
        margin-top: 250px;
    }
}





